<p-table [value]="manors" dataKey="name" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem">Manors </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th style="width: 5rem"></th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manor let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="manor" class="p-button-rounded p-button-plain default-button"></button>
            </td>
            <td>{{manor.name}}</td>
            <td>
                <button (click)="showAddManor(manor)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
            </td>
            <td>
                <button (click)="showDeleteManor(manor)" pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-plain default-button"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-manor>
        <tr>
            <td colspan="3">
                <div class="p-3">
                    <p-table [value]="manor.households" dataKey="id">
                        <ng-template let-household pTemplate="header">
                            <tr>
                                <th style="width: 5rem">Households </th>
                                <th pSortableColumn="id">Name <p-sortIcon field="name"></p-sortIcon></th>
                                <th style="width: 5rem"></th>
                                <th style="width: 5rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-household let-expanded="expanded">
                            <tr>
                                <td>
                                    <button type="button" pButton pRipple [pRowToggler]="household" class="p-button-text p-button-rounded p-button-plain default-button"></button>
                                </td>
                                <td>{{household.name}}</td>
                                <td>
                                    <button (click)="showAddHousehold(manor)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
                                </td>
                                <td>
                                    <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-plain default-button"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-household>
                            <tr>
                                <td colspan="3">
                                    <div class="p-3">
                                        <p-table [value]="household.members" dataKey="id">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 5rem">Members </th>
                                                    <th pSortableColumn="id">Name <p-sortIcon field="name"></p-sortIcon></th>
                                                    <th style="width: 5rem"> </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-member let-expanded="expanded">
                                                <tr>
                                                    <td></td>
                                                    <td>{{member.name}}</td>
                                                    <td>
                                                        <button (click)="showAddMember(manor, household)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <button (click)="showAddMember(manor, household)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <br>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <button (click)="showAddHousehold(manor)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <button (click)="showAddManor(undefined)" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-plain default-button"></button>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Add Manor" [(visible)]="displayAddManor" [style]="{width: '50vw'}">
    <h5>Name</h5>
    <input type="text" pInputText [(ngModel)]="manorname"> 
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addManor()" label="Save" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="displayAddManor=false" label="Cancel" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Household" [(visible)]="displayAddHousehold" [style]="{width: '50vw'}">
    <h5>Name</h5>
    <input type="text" pInputText [(ngModel)]="householdname"> 
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addHousehold()" label="Save" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="displayAddHousehold=false" label="Cancel" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Member" [(visible)]="displayAddMember" [style]="{width: '50vw'}">
    <h5>Name</h5>
    <input type="text" pInputText [(ngModel)]="membername"> 
    <h5>Initials</h5>
    <input type="text" pInputText [(ngModel)]="memberinitials"> 
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addMember()" label="Save" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="displayAddHousehold=false" label="Cancel" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>