<div class="grid">
  <div class="col-6" style="background-color: aquamarine;">
    <p>Destination: {{data?.destination}}</p>
    <p>Created: {{data?.createDate}}</p>
    <p>Updated/Closed: {{data?.updateDate}}</p>
    <p>Status: {{data?.status}}</p>
  </div>
  <div class="col-6" style="background-color: burlywood;">
    <p>Quality: {{data?.quality}}</p>
    <p>Number of commits: {{data?.commits}}</p>
    <p>Number of file changes: {{data?.fileChanges}}</p>
    <p>Number of reviwers: {{data?.reviewers}}</p>
    <p>Number of comments: {{data?.comments}}</p>
  </div>
  <div class="col-12" style="background-color: coral;">
    <p>Build status: N/A</p>
    <p>Sonaruqube: N/A</p>
  </div>
</div>
