<div class="grid">
  <div class="col-6" style="background-color: aquamarine;">
    <p>Destination: N/A</p>
    <p>Created: N/A</p>
    <p>Updated/Closed: N/A</p>
    <p>Status: N/A</p>
  </div>
  <div class="col-6" style="background-color: burlywood;">
    <p>Quality: N/A</p>
    <p>Number of commits: N/A</p>
    <p>Number of file changes: N/A</p>
    <p>Number of reviwers: N/A</p>
    <p>Number of comments: N/A</p>
  </div>
  <div class="col-12" style="background-color: coral;">
    <p>Build status: N/A</p>
    <p>Sonaruqube: N/A</p>
  </div>
</div>
